body {
    font-family: cursive;
}

h1 {
    font-size: 40px;
}

li {
    color: red;
    background-color: pink;
}

li {
    color: blue;
    background-color: lightblue;
}

li {
    color: green;
    background-color: lightgreen;
}

li {
    color: purple;
    background-color: lavender;
}
