.arial-bold { font-weight: bold; font-family: Arial; }
.georgia-light { font-weight: lighter; font-family: Georgia; }
.times-heavy { font-weight: 900; font-family: 'Times New Roman'; }
.verdana-normal { font-weight: normal; font-family: Verdana; }
.courier-semi { font-weight: 600; font-family: 'Courier New'; }
