/* body{
    background-color: oldlace;
    background-image: url('https://www.google.com/imgres?q=photo&imgurl=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1495745966610-2a67f2297e5e%3Ffm%3Djpg%26q%3D60%26w%3D3000%26auto%3Dformat%26fit%3Dcrop%26ixlib%3Drb-4.1.0%26ixid%3DM3wxMjA3fDB8MHxzZWFyY2h8M3x8Zm90b2dyYWZ8ZW58MHx8MHx8fDA%253D&imgrefurl=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Ffotograf&docid=QeVanszgj4BZGM&tbnid=7gc14Qafc2ivEM&vet=12ahUKEwj8lPfolISUAxVd_7sIHRCGNA0QnPAOegQIERAB..i&w=3000&h=4500&hcb=2&ved=2ahUKEwj8lPfolISUAxVd_7sIHRCGNA0QnPAOegQIERAB'
    );
    background-size: 10px 50px;
} */

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    top: 30px;
    left: 70px;
    width: 700px;
    height: 450px;
    border: 5px solid black;

    background-image: url('https://images.unsplash.com/photo-1542038784456-1ea8e935640e?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

    background-repeat: no-repeat;
    background-position: 0px -50px;

    background-size: cover;
} */
/* 
main{
    width:400px;
    height: 400px;



    background-image: linear-gradient(199deg, #52154E,
    #56CBF9);

    border-radius: 50%;
} */

main{
    width: 400px;
    height: 400px;
    /* background-image:  radial-gradient(closest-side at 50% 60%,#70A9A1,#D7C0D0,#21A0A0,#E53D00,#FF8552,#297373); */


    /* background-image: conic-gradient(pink 145deg,cadetblue 100deg,lightgreen 210deg ); */
    /* border-radius: 50%; */

    background-image: linear-gradient(199deg, #F59CA9,#52B788,#592941);

    border-radius: 70%;

   
}

h1{
    width: 400px;
    height: 400px;
    background-image: conic-gradient(#EA9386 20deg,#B87A85 104deg, #472D30 12deg);
    border-radius: 55%;
}
p{
    width: 400px;
    height: 400px;
    background-image: radial-gradient(closest-side at 50% 50%,#EDE5A6,#ADD2C2,black);
    border-radius: 50%;
}